html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow: hidden; 
  overflow-y: hidden;
}




@keyframes exampleAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.maincontainer {
  background: #01162B;
  width: 100vw;
  height: 100vh;
  animation: exampleAnimation 500ms ease-in-out 1500ms forwards;

}
.images{
  width: 100%;
height: 100%;
background: #01162B;;
gap: 0px;
opacity: 0px;
justify-content: center;
  display: flex;
align-items: center;
  position: relative;

}

.ellipse {
  display: flex;
  align-items: center;
 justify-content: center;
 position: relative;
 bottom: 260px;
 gap: 10px;
}


/*.ellipse1, .ellipse2, .ellipse3, .ellipse4 {
  width: 100%; 
  height: 100%; 
  opacity: 1; 
  gap: 2px;
  
} */

/*.btn{
position: relative;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  bottom: 100px;
}*/
.container2{
  display: flex;

  width: 100vw;
  height: 100vh;
  animation: exampleAnimation 500ms ease-in-out 1500ms forwards;
 justify-content: center; 
  align-items: center; 
 
}
.whitebox{
width: 100vw;
position: relative;
height: auto;
background: #FFFFFF;

  top: 80px;
}
/*.text{
  
    font-family: 'Open Sans', sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 39.1px;

text-underline-position: from-font;
text-decoration-skip-ink: none;
position: relative;
text-align: center;
color: #01162B;
} */
/* Form container styling */
.form {
  width: 400px;
  background-color: transparent;
  position: relative;
  justify-items: center;
 
}

/* Label styling */
form .form-group label {
  display: block;

  /*color:#01162B;*/
}

/* Input field styling */
form .form-group input {
  width: 250%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 14px;
}




/*form .btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}*/
/*
form .btn:hover {
  background-color: #0056b3;
}*/
.form-group{
    font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 39.1px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
/*color: #01162B; */

}
.pass{
  font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 24.51px;
text-align: right;
position: relative;
left: 300px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #1BBBFF;


}
.checkbox{
  display: flex;
  background: #FAFAFA;
  border: 1px solid #D6D6D6;
  box-shadow: 0px 1px 2px 0px #0000001A;
padding: 4px;
width: 34%;
justify-content: center;
align-items: center;
margin: 100px;
bottom: 100px;
height: 34px;
position: relative;
}
.checkimg{
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border: 0px solid #C1C1C1;
  position: relative;
  right: 1px;
  top: 3px;
}
.textrobo{
  font-family: 'Roboto', 'sans-serif';
font-size: 14px;
font-weight: 500;
line-height: 16.41px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;
position: absolute;
right: 120px;
}
.recyclelogo{
  height:160%;
  width: 55%;
  
}
.privacy{
  font-family: 'Roboto', 'sans-serif';
font-size: 7px;
font-weight: 500;
line-height: 5.38px;
position: relative;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#A6A6A6;
left: 114px;


}
.maincheckbox{
  position: relative;
}
.logos{
  height: 29px;
  width: 35px;
  position: relative;
top: 10px;
left: 124px;
}
.btn{
/* background-color:  #002B56;*/
  width: 100%;
height: 100%;
position: relative;
left: 100px;
bottom: 150px;
} 
.logintext{
  background-color:  #002B56;
  font-family: 'Open Sans', 'sans-serif';
font-size: 18px;
font-weight: 500;
color: #FFFFFF;
line-height: 2.51px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
border-radius: 0px;
width: 500px;
height: 25px;
gap: 0px;
opacity: 0px;
padding: 18px 24px 18px 24px;
border-radius: 12px;
gap: 10px;
}

/*width: Hug (578px)px;
height: Hug (61px)px;
top: 625.45px;
left: 145px;
padding: 18px 24px 18px 24px;
gap: 10px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;
*/
.lastpara{
  font-family: 'Open Sans', 'sans-serif';
font-size: 18px;
font-weight: 400;
line-height: 24.51px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

font-size: 18px;
font-weight: 400;
line-height: 24.51px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
position: relative;
bottom: 80px;

}
/*

.nounderline{
  text-decoration: none;

  animation: fadeInScale 0.3s ease-in forwards;
}*/
.registernow{
  color: #1BBBFF;
  text-align: center;
 

}
.regmain{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.firstbox{
  width: 40%;
height: 100%;
gap: 0px;
opacity: 0px;
background: 
linear-gradient(0deg, #01162B, #01162B);
justify-content: center;
  display: flex;
align-items: center;
}
.secondbox{
  width: 60%;
height: 100%;
left: 1440px;
gap: 0px;
display: flex;
background: #FFFFFF;
justify-content: center;
align-items: center;
flex-direction: column;
}
.formcontents{
 /* position: relative;*/
width: 100%;
/*gap: 40px;*/
text-align: left;
display: flex;
flex-direction: column;
align-items: center;




}
/*.regbegin{
  width: 578px;
height: 40px;
gap: 0px;
position: relative;

}*/
.regtext{
  font-family: 'Open Sans', sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 39.1px;

text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #01162B;


gap: 0px;
}
form .form-groups input {
  width: 100%;
  padding: 10px;
 margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 14px;
}
.pass{
  font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 24.51px;
text-align: right;
position: relative;
left: 300px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #1BBBFF;


}
.btns{
  width: Hug (578px)px;
height: Hug (61px)px;
top: 590px;
left: 145px;
padding: 18px 24px 18px 24px;
gap: 10px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;

}
.registers{
  background-color:  #002B56;
  font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 500;
color: #FFFFFF;
line-height: 2.51px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
border-radius: 0px;
width: 500px;
height: 25px;
gap: 0px;
opacity: 0px;
padding: 18px 24px 18px 24px;
border-radius: 12px;
gap: 10px;
}
.formfill{
  width: 60%;
}
.lastparas{
  width: 270px;
height: 25px;
top: 723px;
left: 299px;
gap: 0px;
opacity: 0px;

}
.regparas{
  
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}
.regbegin{
  width: 60%;
}
.outer{
  width: 100vw;
  height: 100vh;
  background: #01162B;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.send{
  font-family: 'Inter', sans-serif;
font-size: 28px;
font-weight: 400;
line-height: 33.89px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFFB0;
/*
text-shadow: 0.69em 0.69em 5px #FFFFFFB0;*/
}
/*.span{
  font-family: 'Inter', sans-serif;
font-size: 29.38px;
font-weight: 400;
line-height: 35.56px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
;
}*/
.span{
  font-family: 'Inter', sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 38.73px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:  #FFFFFF;

}

.ok{
  
padding: 18px 24px 18px 24px;
gap: 10px;
border-radius: 12px;
opacity: 0px;

}
.outermost{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.bluebox{
  width:40%;
  height: 100%;
  background: 
  linear-gradient(0deg, #01162B, #01162B);
  
}
.whiteone{
  width: 60%;
height: 100%;
background: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.passwordlost{
  font-family:  'Open Sans', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 24.51px;
text-align: right;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #1BBBFF;
width: 60%;
}
/*.box{
  width: 1%;
height: 7%;
display: flex;
justify-content: center;

gap: 0px;
border-radius: 12px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: #FAFAFA;
box-shadow: 0px 1px 2px 0px #0000001A;

}
/*.insideview{
  width: 24px;
height: 24px;
gap: 0px;
border-radius: 1px 0px 0px 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
background: #FFFFFF;
border: 2px solid #C1C1C1;
display: flex;

}/*
.robos{
  font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16.41px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;
}*/
.boxcheck{
  width: 308px;
height: 55px;
top: 503.45px;
left: 145px;
gap: 0px;
border-radius: 12px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: #FAFAFA;
border: 1px solid #E6E6E6;
box-shadow: 0px 1px 2px 0px #0000001A;
display: flex;

}
.subboxcheck{
  display: flex;
  justify-content: flex-start;
  width: 60%;
}
.checkboxs{
  width: 24px;
  height: 24px;
  gap: 0px;
  border-radius: 1px 0px 0px 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background: #FFFFFF;
  border: 2px solid #C1C1C1;  
  margin: 12px;
}
.paras{
  width: 91px;
height: 16px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 20.41px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;
}
.lastparass{
  width: 250px;
  height: -1px;
  top: 723px;
  left: 299px;
  gap: 0px;
  opacity: 0px;
  
}
.regparass{
  width: 121%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.checkboxss{
  width: 24px;
  height: 24px;
  gap: 0px;
  border-radius: 0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
  opacity: 0px;
 /* background: #FFFFFF;
 /* border: 2px solid #C1C1C1;  */
  margin: 12px;
}
.setupmain{
  width: 100vw;
  height: 100vh;
  background: #FFFFFFAF;

}
.navv{
  width: 100%;
height: 100%;
gap: 0px;
border: 0px 0px 1px 0px;
opacity: 0px;
background: #01162B;
border-bottom: 1px solid #EEEEEE;
display: flex;
justify-content: space-around;
align-items: center;

}

.twoimages{
 
  display: flex;
  justify-content: flex-start;
 align-items: center;
  
}
.firstcomes{
  width: 100%;
  height: 100%;
}
.secondcomes{
width: 100%;
height: 100%;
}
.day{
  font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 17.17px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:  #C7CEE0;
}
.times{
  font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 17.17px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#C7CEE0;

}
.time{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
}
.notify{
  width: 24px;
height: 24px;
top: 30px;
left: 1336px;
gap: 0px;
opacity: 0px;
color: #D9D9D9;

}
.notifications{
  width: 15.73px;
height: 19.19px;
top: 32.5px;
left: 1340.5px;
gap: 0px;
opacity: 0px;
color: #C7CEE0;

}
.plantext{
  width: 655px;
height: 40px;
top: 141px;
left: 80px;
gap: 0px;
opacity: 0px;

}
.fit{
  font-family: 'Open Sans', sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 39.1px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #01162B;

}
.skip{
  width: 46px;
height: 29px;
top: 152px;
left: 1314px;
gap: 0px;
opacity: 0px;

}
.skips{
  font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 28.6px;
text-align: right;
text-decoration-line: underline;
text-decoration-style: solid;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #3D9AE2;

}
.need{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.boxs{
  width: 100%;
  height: 0%;
  display: flex;
  flex-direction: column;
  
}

.threes{
  
    width: 75%; 
    height: 96%;
    position: absolute;
    top: 238px;
    left: 187px;
    gap: 50px;
    border-radius: 12px 12px 12px 12px;
    border-width: 1px;
    border-color: #FFFFFF;
    border-style: solid;
    opacity: 1;
    background: #FBFCFD;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
  } 
 .bronze{
  width: 20.22%;
height: 60%;
padding: 30px 30px 30px 30px;
gap: 32px;
border-radius: 12px 12px 12px 12px;
/*border: 1px 1px 1px 1px;*/
opacity: 0px;
background: #FFFFFF;
border: 1px solid #EDEDED;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 }
 .silver{
  
  width: 20.22%;
height: 60%;
padding: 30px 30px 30px 30px;
gap: 32px;
border-radius: 12px 12px 12px 12px;
/*border: 1px 1px 1px 1px;*/
opacity: 0px;
background: #FFFFFF;
border: 1px solid #EDEDED;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 }
 .gold{
  width: 20.22%;
height: 60%;
padding: 30px 30px 30px 30px;
gap: 32px;
border-radius: 12px 12px 12px 12px;
/*border: 1px 1px 1px 1px;*/
opacity: 0px;
background: #FFFFFF;
border: 1px solid #EDEDED;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
 }
 .bronzebox{
  width: 100%;
height: 10%;
gap: 6px;
border-radius: 38px 38px 38px 38px;
opacity: 0px;
background: #CD723C33;
display: flex;
justify-content: center;
align-items: center;
 }
/* .Rectangle3{
  width: 514px;
height: 47px;
gap: 0px;
opacity: 0px;
background: #FFFFFF4D;
transform: rotate(10deg);

 }*/
 /*.groups{
  width: 28.69px;
height: 28.69px;
top: 2.66px;
left: 2.65px;
gap: 0px;
opacity: 0px;

 }*/
 .rectemoji{
  width: 28.69px;
height: 28.69px;
top: 2.66px;
left: 2.65px;
gap: 0px;
opacity: 0px;
 }
 .textheading{
  width: 98px;
height: 33px;
gap: 0px;
opacity: 0px;

 }
 .bz{
  font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 32.68px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #CD723C;

 }
 .forty{
  font-family: 'Open Sans', sans-serif;
font-size: 42px;
font-weight: 600;
line-height: 30.66px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #1BBBFF;

 }
 .month{
  font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 11.68px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #666666;

 }
 .texcontainer{
  width: 100%;
height: auto;
gap: 0px;
opacity: 0px;
text-align: center;
 }
 .great{
  font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #666666;

 }
 .availablefeatures{
  width: Fill (275px)px;
height: Hug (201px)px;
gap: 22px;
opacity: 0px;

 }
.headsh{
  width: Fill (275px)px;
  height: Hug (201px)px;
  gap: 22px;
  opacity: 0px;
  
}
.heads{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3D9AE2;
  
}
.twofactors{
  width: Fill (275px)px;
height: Hug (152px)px;
/*padding: 0px 40px 0px 40px;*/
gap: 16px;
opacity: 0px;

}
.authority{
  width:100%;
height: 100%;
gap: 8px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.tick{
  width: 100%;
height: 100%;
/*padding: 4px 0px 0px 0px;*/
gap: 10px;
/*border-radius: 100px 0px 0px 0px;*/
border: 1px 1px 1px 1px;
opacity: 0px;
background: #FFFFFF;
/*border: 1px solid #EDEDED;*/
}
.twofactor{
  width: 153px;
height: 24px;
gap: 0px;
opacity: 0px;
text-align: center;
}
.authentics{
  font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 23.66px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #4C4C4C;
margin: 0px;

}
/*.gets{
  width: 100%;
height: 100%;
padding: 14px 47px 14px 47px;
gap: 10px;
border-radius: 8px 8px 8px 8px;
opacity: 0px;
background: #002B56;


}*/
/*.getting{
  font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 27.04px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
align-items: center;

}*/
/*.gets{
  width: 100%;
height: 20%;
gap: 10px;
border-radius: 8px 8px 8px 8px;
opacity: 0px;
background: #002B56;
text-align: center;
padding: 14px 47px 14px 47px;
 }*/
 .gets {
  width: 100%; 
  max-width: 275px; 
  height: 46px;
  padding: 14px 47px;
  gap: 10px; 
  border-radius: 8px;
  background: #002B56;

  border: none;
  text-align: center;
  
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 27.04px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
align-items: center;

}
.sz{
  font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 32.68px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #3A3A3A;

}
.silverbox{
   
  width: 100%;
height: 10%;
gap: 6px;
border-radius: 38px 38px 38px 38px;
opacity: 0px;
background: #F1F2F2;

display: flex;
justify-content: center;
align-items: center;

}
.groups{
  width: 100%;
  height: 100%;
}
.gz{
  font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 32.68px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

color: #D59C17;

}
.secondmain{
  width: 100vw;
  height: 100vh;
  background: #F9FAFC;
  

}
.configuring{
  width: 100%;
height: 100%;

gap: 0px;
opacity: 0px;

}
.strsetup{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 39.1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #01162B;
text-align: center;
width: 60%;
}
.detailing{
  width: 100%;
  height: 100%;
  display: flex;
 /*display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;*/
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
/*.storecustom{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.numberone{
  width:100%;
height: 100%;

gap: 11px;
opacity: 0px;


}
.circlefirst{
  width: 100%;
height: 100%;
padding: 9px 12px 9px 12px;
gap: 10px;
border-radius: 23px 23px 23px 23px;
opacity: 0px;
background: #5DBB63;

}
.textone{
  font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 24.51px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;

}*/
.imagesone{
width: 7%;
height: auto;
/*position: absolute;*/

}
.storecustomization{
  /*width: 100%;*/
height: 100%;
gap: 0px;
opacity: 0px;

}
.stores{
  font-family: Open Sans;
font-size: 24px;
font-weight: 600;
line-height: 32.68px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #01162B;

}
.nameclass{
  display: flex;
  justify-content: center;
align-items: center;
  width: 44%;
  height: auto;
}
.forming{
  width: 75%;
height: 100%;
top: 248px;
left: 80px;
gap: 0px;
border-radius: 16px 16px 16px 16px;
opacity: 0px;
background: #FFFFFF;

}
.subforming{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
}
.regtexts{
  font-family: Open Sans;
font-size: 18px;
font-weight: 600;
line-height: 24.51px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;

}
.formfills{
  width: Fill (428px)px;
  height: Fixed (42px)px;
  padding: 0px 12px 0px 12px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  border: 1px 1px 1px 1px;
  opacity: 0px;
  border: 0px solid #E6E6E6;
  background: #FFFFFF;

}




